In [5]:
import pandas as pd
p=pd.Period(2007,freq='A-MAY')
p

Period('2007', 'A-MAY')

In [6]:
p+2

Period('2009', 'A-MAY')

In [7]:
p-2

Period('2005', 'A-MAY')

In [8]:
p=pd.Period(2020, freq='A-MAY')+2
p

Period('2022', 'A-MAY')

In [9]:
p=pd.Period(2020, freq='A-MAY')-2
p

Period('2018', 'A-MAY')

In [10]:
pd.Period(2007, freq='A-MAY')

Period('2007', 'A-MAY')

In [11]:
pd.Period(2014, freq='A-MAY')-p

<-4 * YearEnds: month=5>

In [12]:
rng=pd.period_range('2001-01-01','2000-06-30',freq='D')
rng

PeriodIndex([], dtype='period[D]', freq='D')

In [13]:
rng=pd.period_range('2000-01-01','2000-06-30',freq='D')
print(rng)

PeriodIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
             '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
             '2000-01-09', '2000-01-10',
             ...
             '2000-06-21', '2000-06-22', '2000-06-23', '2000-06-24',
             '2000-06-25', '2000-06-26', '2000-06-27', '2000-06-28',
             '2000-06-29', '2000-06-30'],
            dtype='period[D]', length=182, freq='D')

In [14]:
index=pd.date_range('1/1/2000',periods=4,freq='T')
series=pd.Series([0.0,None,2.0,3.0],index=index)
df=pd.DataFrame({'s':series})
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [15]:
df.asfreq(freq='30s')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  NaN
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  NaN
2000-01-01 00:03:00  3.0

In [16]:
p

Period('2018', 'A-MAY')

In [17]:
p.asfreq('D',how='start')

Period('2017-06-01', 'D')

In [18]:
p.asfreq('D',how='end')

Period('2018-05-31', 'D')

In [19]:
df.asfreq('T',how='start')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [20]:
df.asfreq('T',how='start')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [21]:
rng=pd.date_range('2006','2009',freq='A-DEC')
rng

DatetimeIndex(['2006-12-31', '2007-12-31', '2008-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [22]:
import numpy as np
ts=pd.Series(np.random.randn(len(rng)),index=rng)
ts

2006-12-31    1.590630
2007-12-31   -1.572853
2008-12-31    0.713198
Freq: A-DEC, dtype: float64

In [23]:
print(ts.asfreq('m',how='start'))

2006-12-31    1.590630
2007-01-31         NaN
2007-02-28         NaN
2007-03-31         NaN
2007-04-30         NaN
2007-05-31         NaN
2007-06-30         NaN
2007-07-31         NaN
2007-08-31         NaN
2007-09-30         NaN
2007-10-31         NaN
2007-11-30         NaN
2007-12-31   -1.572853
2008-01-31         NaN
2008-02-29         NaN
2008-03-31         NaN
2008-04-30         NaN
2008-05-31         NaN
2008-06-30         NaN
2008-07-31         NaN
2008-08-31         NaN
2008-09-30         NaN
2008-10-31         NaN
2008-11-30         NaN
2008-12-31    0.713198
Freq: M, dtype: float64

In [24]:
print(ts.asfreq('m',how='start'))

2006-12-31    1.590630
2007-01-31         NaN
2007-02-28         NaN
2007-03-31         NaN
2007-04-30         NaN
2007-05-31         NaN
2007-06-30         NaN
2007-07-31         NaN
2007-08-31         NaN
2007-09-30         NaN
2007-10-31         NaN
2007-11-30         NaN
2007-12-31   -1.572853
2008-01-31         NaN
2008-02-29         NaN
2008-03-31         NaN
2008-04-30         NaN
2008-05-31         NaN
2008-06-30         NaN
2008-07-31         NaN
2008-08-31         NaN
2008-09-30         NaN
2008-10-31         NaN
2008-11-30         NaN
2008-12-31    0.713198
Freq: M, dtype: float64

In [25]:
rng=pd.date_range('2000-01-01',periods=3,freq='m')
rng

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31'], dtype='datetime64[ns]', freq='M')

In [26]:
ts=pd.Series(np.random.randn(3),index=rng)
ts

2000-01-31    0.392198
2000-02-29    0.040386
2000-03-31    0.059732
Freq: M, dtype: float64