# Tuples
* it is collection of different data types seperated by,and enclosed with()

In [2]:
t=(2,4,5,7,9.7,8,"mammu")
t

(2, 4, 5, 7, 9.7, 8, 'mammu')

In [3]:
type(t)

tuple

In [4]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [5]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [6]:
t.count("mammu")

1

In [7]:
t1=(5,7,8,4,3,"lallu",5.5)
type(t1)

tuple

In [9]:
t1.index(4)

3

In [11]:
t1[-1]

5.5

In [12]:
t1[0]

5

In [13]:
t1[1:]

(7, 8, 4, 3, 'lallu', 5.5)

In [14]:
t1.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [15]:
t1*2

(5, 7, 8, 4, 3, 'lallu', 5.5, 5, 7, 8, 4, 3, 'lallu', 5.5)

In [16]:
print(t+t1)

(2, 4, 5, 7, 9.7, 8, 'mammu', 5, 7, 8, 4, 3, 'lallu', 5.5)

In [17]:
t1[0]/2

2.5

### set
* It is collection of elements seperated by , enclosed{}.it does't has index,the elements unorder

In [18]:
s={4,6,7,8,}
type(s)

set

In [22]:
m={"mango","banana","apple"}
print(type(m))
m

<class 'set'>

{'apple', 'banana', 'mango'}

In [23]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

#### Add

In [24]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [25]:
s

{4, 6, 7, 8}

In [27]:
s.add(5)
s

{4, 5, 6, 7, 8}

#### clear

In [28]:
s.clear()
s

set()

In [29]:
set={3,2,5,7,6,9,8}
set

{2, 3, 5, 6, 7, 8, 9}

#### copy

In [31]:
setcopy=set.copy()
print(setcopy)
print(set)

{2, 3, 5, 6, 7, 8, 9}
{2, 3, 5, 6, 7, 8, 9}

#### Difference

In [32]:
help(set.difference)

Help on built-in function difference:

difference(...) method of builtins.set instance
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [34]:
x={45,78,99,23,12,67}
y={45,98,78,43,29,18}
z=x.difference(y)
z1=y.difference(x)
print(z)
print(z1)

{67, 99, 12, 23}
{18, 98, 43, 29}

### isdisjoint

In [36]:
print(x.isdisjoint(y))
print(y.isdisjoint(x))

False
False

### Union

In [37]:
print(x.union(y))
print(x.intersection(y))

{98, 99, 67, 43, 12, 45, 78, 18, 23, 29}
{45, 78}

#### issubset/issuperset

In [41]:
e={1,2,3}
f={1,2,3,4,5,6}
print(e.issubset(f))
print(e.issuperset(f))

True
False

##### Acessing element in set

In [43]:
s_t={4,6,8,9,2}
for kvsw in s_t:
    print(kvsw,end=",")

2,4,6,8,9,

In [46]:
s_t.update(e)
print(s_t)

{1, 2, 3, 4, 6, 8, 9}

#### symetric_difference

In [47]:
help(set.symmetric_difference)

Help on built-in function symmetric_difference:

symmetric_difference(...) method of builtins.set instance
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [48]:
z=f.symmetric_difference(e)
print(z)

{4, 5, 6}

In [49]:
e

{1, 2, 3}

In [50]:
f

{1, 2, 3, 4, 5, 6}

In [51]:
e.pop()
e

{2, 3}

In [52]:
f.remove(5)
f

{1, 2, 3, 4, 6}

In [53]:
s_t.discard(6)
s_t

{1, 2, 3, 4, 8, 9}

In [1]:
li=[9,9,10,5,3,8,5]
print(type(li),li)
e=set(li)
print(type(e),e)

<class 'list'> [9, 9, 10, 5, 3, 8, 5]
<class 'set'> {3, 5, 8, 9, 10}

In [9]:
i=list(map(int,input().split()))
print(type(i),i)
se=set(i)
p=list(se)
print(type(p),p)

5 6 7 8 8 9
<class 'list'> [5, 6, 7, 8, 8, 9]
<class 'list'> [5, 6, 7, 8, 9]

In [10]:
m=list(set(map(int,input().split())))
print(m)

5 6 7 8 8 9
[5, 6, 7, 8, 9]